:root{
  --cyan-blue-600:#1ecbe1;
  --cyan-blue-400:#1ecbe138;
  --cyan-blue-300:#1ecbe129;
  --cyan-blue-100:#b0f7fa24;
  /* --cyan-dark-600:#115e68; */
  /* --cyan-dark-600:#115e68; */
  --cyan-dark-600:#031d21;
  --cyan-dark-100:#115e685e;

}
